body {
    background:#ccc;
    font-family: sans-serif;
}

form {
    width: 600px;
    margin-top: 20px;
    background-color: #ddd;
    margin: auto;
    padding: 20px;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 5px;
}

form button {
    padding: 12px;
    margin: 5px;
}

form input:invalid {
    border: 2px solid #ff0000;
}